@using ITI.Sauce.ViewModels
@model RecipeEditViewModel


<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="~/Content/CSS/AddGeneralToDB.css"/>
<body>

<h3>Add to Recipe </h3>

<div>
  <form method="post" enctype="multipart/form-data" asp-action="Add" asp-controller="Recipe">
    <label asp-for="NameEN"> Name In English</label>
    <input  asp-for="NameEN">
    <span asp-validation-for="NameEN" style="color:red"></span>
    <br />
    <label asp-for="NameAR"> Name In Arabic</label>
    <input  asp-for="NameAR">
    <span asp-validation-for="NameAR" style="color:red"></span>
    <br />
    
    <label asp-for="CategoryID"> Category </label>
    <select asp-for="CategoryID" asp-items="@ViewBag.Categories">
        <option selected>Choose an option</option>                 
    </select>
    <span data-ajax="true" asp-validation-for="CategoryID" style="color:red"></span>
    <br />
    <label asp-for="Ingredients"> Ingredients </label>
    <select asp-for="Ingredients" asp-items="@ViewBag.Ingredients" multiple>
        <option selected>Choose an option</option>                  
    </select>
    <span data-ajax="true" asp-validation-for="CategoryID" style="color:red"></span>
    <input asp-for="RestaurantID" type="hidden">
    @*<label asp-for="RestaurantID"> Restaurant </label>
    <select asp-for="RestaurantID" asp-items="@ViewBag.Restaurants">
        <option selected>Choose an option</option>                 
    </select>*@

    <span data-ajax="true" asp-validation-for="NameEN" style="color:red"></span>
    <br />
     

   @* <label asp-for="ImageUrl"> ImageUrl</label>
    <input  asp-for="ImageUrl">
    <span asp-validation-for="ImageUrl" style="color:red"></span>
    <br />*@

    <label asp-for="VideoUrl"> Video Url</label>
    <input  asp-for="VideoUrl">
    <span asp-validation-for="VideoUrl" style="color:red"></span>
    <br />
    <label asp-for="Details"> Details</label>
    <input  asp-for="Details">
    <span asp-validation-for="Details" style="color:red"></span>
    <br />
    <label asp-for="GoodFor"> Good For</label>
    <input  asp-for="GoodFor">
    <span asp-validation-for="GoodFor" style="color:red"></span>
    <br />
     <label asp-for="Price"> Price</label>
    <input  asp-for="Price">
    <span asp-validation-for="Price" style="color:red"></span>
    <br />
    <label asp-for="RegisterDate"> Register Date</label>
    <input  asp-for="RegisterDate">
    <span asp-validation-for="RegisterDate" style="color:red"></span>

    <div>
            <label asp-for="Image"></label>
                <input asp-for="Image" class="custom-file-input" id="customFile">
                 <span asp-validation-for="Image" style="color:red"></span>
      
        </div>


    <input type="submit" value="Add">
  </form>
</div>

</body>
</html>


