@using ITI.Sauce.ViewModels




@model PaginingViewModel<List<RecipeViewModel>>;
<!DOCTYPE html>
<html>
    <head>
        <title>Recipes</title>
    </head>
    <body>
    <h1>Recipes</h1>
    @foreach (var i in Model.Data)
    {

        <h2>Recipe: @i.NameEN</h2>
        <p> Category: @i.CategoryName</p>
            
    }
            
    </body>
</html>