################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ITI.Sauce/ITI.Sauce.MVC/obj/Debug/net6.0
/ITI.Sauce/ITI.Sauce.MVC/obj
/ITI.Sauce/.vs/ITI.Sauce/v17
/ITI.Sauce/ITI.sauce.cs/obj/Debug/net6.0
/ITI.Sauce/ITI.Sauce.ViewModels/obj/Debug/net6.0/ref
/ITI.Sauce/ITI.Sauce.ViewModels/obj/Debug/net6.0
/ITI.Sauce/ITI.Sauce.ViewModels/obj
/ITI.Sauce/ITI.Sauce.Repositorie/obj
/ITI.Sauce/ITI.Sauce.ViewModels/bin/Debug/net6.0
/ITI.Sauce/.vs/ITI.Sauce
/ITI.Sauce/ITI.sauce.cs/bin/Debug/net6.0
/ITI.Sauce/ITI.sauce.cs/obj
/ITI.Sauce/ITI.Sauce.Repositorie/bin/Debug/net6.0
/ITI.Sauce/ITI.Sauce.Models/obj
/ITI.Sauce/ITI.Sauce.Models/bin/Debug/net6.0
/ITI.Sauce/.vs/ProjectEvaluation
/ITI.Sauce/ITI.Sauce.Services/obj/Debug/net6.0
/ITI.Sauce/ITI.sauce.cs/Content/Uploads/Recipe
