 

<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
<style>
	body{
		background-color:rgb(210, 227, 230);
	}
	img{
		width : 70%;
		height : 520px;
		overflow: hidden; 
		text-align : center;
		margin-left:200px;
	}
 a{
	 color: black;
     text-decoration: none;

		
	}
</style>
</head>



<body>
	<div>
	<img src="~/Content/Images/Erorr.png"/>
	</div>
<div style="margin-left:200px;" >
<p>Not Fount</p>
<button >
<a  asp-action="Index" asp-controller="Home">Go Home</a>
</button>
</div>
</body>
</html>
