<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vendor Dashboard</title>
   
    <link
      rel="stylesheet"
      href="~/Content/lib/font-awesome/css/all.css"
    />
     <link rel="stylesheet" href="~/Content/CSS/vendor.css" />
  </head>
  <body>
    <aside>
      <ul class="sidebar">
        <li>
          <a href="#" class="logo"><i class="fas fa-utensils"></i>Sauce</a>
          
        </li>
        <li><a href="#">View Orders </a></li>
        <li><a href="#">Add Recipes </a></li>
        <li><a href="#">View Recipes </a></li>
        <li><a href="#">View Reviews </a></li>
      </ul>
    </aside>

    <main>
      <nav>
        <i class="fa-solid fa-bars menu-icn "></i>
        <input type="text" placeholder="Search..." />
        <i class="fa-solid fa-bell nav-icn"></i>
        <i class="fa-solid fa-envelope nav-icn"></i>
        <a href="./vendor_profile.html">
          <img src="~/Content//Images/pic.png" id="restaurant-pic" alt="restaurant-pic" />
        </a>
        <span id="restaurant-name">Vendor</span>
      </nav>

        <section class="container">
            @RenderBody();
        </section>
      </main>
  </body>
</html>
