@using ITI.Sauce.Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> _SignInManager
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
  
    <link
      rel="stylesheet"
      href="~/Content/lib/font-awesome/css/all.css"
    />
    <link rel="stylesheet" href="~/Content/CSS/vendor.css" />

     @RenderSection("StyleSection",false)
  </head>
  <body>
    <aside id="side">
      <ul class="mysidebar">
        <li>
          <a asp-action="Index" asp-controller="Home" class="mylogo"><i class="fas fa-utensils"></i>Sauce</a>
          
        </li>
        <li><a asp-action="Add" asp-controller="Recipe">Add Recipes </a></li>
        <li><a asp-action="Get" asp-controller="Recipe">View Recipes </a></li>
        <li><a asp-action="Add" asp-controller="Users">Add Users </a></li>
        <li><a asp-action="Get" asp-controller="Users">View Users </a></li>
        <li><a asp-action="Add" asp-controller="Vendor">Add Vendors </a></li>
        <li><a asp-action="Get" asp-controller="Vendor">View Vendors </a></li>

        <li><a asp-action="Search" asp-controller="Rating">View Reviews </a></li>
        <li><a asp-action="Get" asp-controller="Order">View Orders </a></li>


      </ul>
    </aside>

    <main>
      <nav>
        <i class="fa-solid fa-bars menu-icn " onclick="Menu()"></i>
        <input type="text" placeholder="Search..." />
        <i class="fa-solid fa-bell nav-icn"></i>
        <i class="fa-solid fa-envelope nav-icn"></i>
        <a asp-action="SignUp" asp-controller="Users">
          <img src="~/Content//Images/pic.png" id="restaurant-pic" alt="restaurant-pic" />
        </a>
        @if(_SignInManager.IsSignedIn(User))
        {
            <div>
         <span id="restaurant-name">@User.Identity.Name </span>|
        <span><a asp-action="SignOut" asp-controller="Users">Log out</a></span>
        </div>
        }
        
      </nav>

        <section class="mycontainer">
            @RenderBody()
        </section>
      </main>
      <script src="~/Content/JS/vendor.js"></script>
     
      <script src="~/Content/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

  </body>
</html>
