<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
</head>
<body style="text-align:center">
    <h1> Error</h1><br /><br />
    <h2>Some Thing Went Wrong</h2>
    <h3>Please Try Again Later</h3>
    <h4><a asp-action="Index" asp-controller="Home"> Home</a></h4>
</body>
</html>


