@using ITI.Sauce.ViewModels

@model IngredientEditViewModel


<div>
    <form data-ajax="true"    method="post"enctype="multipart/form-data" asp-action="Add" asp-controller="Ingredient">

        <label asp-for="NameEN"> NameEN</label>
        <input asp-for="NameEN">
        <span asp-validation-for="NameEN" style="color:red"></span>
        <br />
        <label asp-for="NameAR"> NameAR</label>
        <input asp-for="NameAR">
        <span asp-validation-for="NameAR" style="color:red"></span>
        <br />

        <div class="form-group">
            <label asp-for="Image"></label>
            <div class="custom-file">
                <input asp-for="Image" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile"></label>
            </div>
        </div>


        <br />
        <input type="submit" value="Submit">


    </form>





