

@using ITI.Sauce.ViewModels.Shared
@using ITI.Sauce.ViewModels
@using ITI.Sauce.ViewModels.Rating
@model PaginingViewModel<List<RatingViewModel>>
 <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h2>Rating Table</h2>
<table>
  <tr>
    <th>RatingID</th>
    <th>RatingValue</th>
  </tr>
    @foreach(var V in Model.Data)
{  
  <tr>
    <td>@V.RatingID</td>
    <td>@V.RatingValue</td>
  </tr>
    }
</table>
</body>
</html>
