@using ITI.Sauce.ViewModels

@model OrderEditViewModel

<!DOCTYPE html>


@section StyleSection{
    <link rel="stylesheet" href="~/Content/CSS/AddGeneralToDB.css"/>
}


@*<div>
<form data-ajax="true"  asp-action="Update" asp-controller="Order" method="post">
    <h1>Uedit Order</h1>
    
     <div asp-validation-summary="ModelOnly" style="color:red" ></div>
    <hr>

    <label asp-for="NameEN"> English Name </label>
    <input  asp-for="NameEN">
    <span asp-validation-for="NameEN" style="color:red"></span>

    <br >

    <label asp-for="NameAR"> Arabic Name </label>
    <input  asp-for="NameAR">
    <span asp-validation-for="NameAR" style="color:red"></span>

    <br >
    <label asp-for="IsDeleted"> Is Deleted  </label>
    <input  asp-for="IsDeleted">
    <span asp-validation-for="IsDeleted" style="color:red"></span>
    <br >
    <label asp-for="registerDate"> Register Date  </label>
    <input  asp-for="registerDate">
    <span asp-validation-for="registerDate" style="color:red"></span>




    <button id="btnAdd" type="submit" value="Order">Update</button>
</form>
  </div>


*@

@*
<h1>Edit Order</h1>

<div>
<form data-ajax="true"  asp-action="Update" asp-controller="Order" method="post">
      
    <label asp-for="NameEN"> NameEN</label>
    <input  asp-for="NameEN"  >
    <span asp-validation-for="NameEN" style="color:red"></span>
    <br />
     <label asp-for="NameAR"> NameAR</label>
    <input  asp-for="NameAR" >
    <span asp-validation-for="NameAR" style="color:red"></span>
    <br />
    <label asp-for="IsDeleted"> IsDeleted</label>
    <input  asp-for="IsDeleted">
    <span asp-validation-for="IsDeleted" style="color:red"></span>
    <br />
    <label asp-for="registerDate"> registerDate</label>
    <input  asp-for="registerDate">
    <span asp-validation-for="Password" style="color:red"></span>
    <br />
    


    <input type="submit" value="Submit">
  </form>
</div>*@