@using ITI.Sauce.ViewModels.Shared
@using ITI.Sauce.ViewModel
@model PaginingViewModel<List<UsersViewModel>>

	@{
		Layout = "_Layout";
	}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="~/Content/CSS/User.css"/>

</head>
<body>

<h2>Users</h2>

<table>
  <tr>
    <th>UserName</th>
    <th>Phone</th>
    <th>RegisterDate</th>
    <th>NameEn</th>

  </tr>
   
   @foreach (var U in Model.Data)
  
{
	<tr>
	
	<td>@U.UserName</td>
	<td>@U.phone</td>
	<td>@U.registerDate</td>
	<td>@U.NameEN</td>
 </tr>
}
 
  
</table>

</body>
</html>


