
@using ITI.Sauce.ViewModels
@model UserLoginViewModel


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style> 
     input[type=text],[type=email],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



div {
    border-radius: 5px;
    padding: 20px;

      
}
#btnAdd {
    width: 100%;
    background-color: #143444;
    color: #F6EE99;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration:none;
    float:right;
}
</style>
</head>
<body>

<form asp-action="SignIn" asp-controller="Users" method="post">
  <div class="container">
    <h1>Sign In</h1>
    <p>Please fill in this form to Log In an account.</p>
    <hr>
     <div asp-validation-summary="ModelOnly" style="color:red" ></div>


   <label asp-for="Email"> Email</label>
    <input  asp-for="Email">
    <span asp-validation-for="Email" style="color:red"></span>

       <label asp-for="Password"> Password</label>
    <input  asp-for="Password">
    <span asp-validation-for="Password" style="color:red"></span>

        <label asp-for="RemmeberMe"> RemmeberMe</label>
    <input  asp-for="RemmeberMe">
    <span asp-validation-for="RemmeberMe" style="color:red"></span>
    <hr>

    <button id="btnAdd" type="submit" value="SignIn">Sign In</button>
  </div>
  
</form>

</body>
</html>